//
//                                                        ▀▀▀▀▀     ▀▀▀▀▀          ▀▀█▀▀
//                                                        ▄▀▀▀▄  ▄  ▄▀▀▀▄  ▄  ▄▀▀▀▄  █  ▄▀▀▀▄
//                                                        █   █  █  █   █  █  █   █  █  █   █
//                                                         ▀▀▀   █   ▀▀▀   █   ▀▀▀   ▀   ▀▀▀
//                                                               █      ▄▄▄█▄▄▄    █   █  
//                                                               ▀      █  █  █     █▄█
//                                                             ▀▀▀▀▀    █  █  █      ▀
//                                                                      ▀  ▀  ▀
//
// ▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄

#include "keys_nb.h"
#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>

#define Base        0
#define NNav        1
#define Num         2
#define Sym         3
#define Media       4
#define Meta        5
#define Gameing     6

&mt {
    quick-tap-ms = <100>;
    global-quick-tap;
    flavor = "tap-preferred";
    tapping-term-ms = <170>;
};

&lt {
    tapping-term-ms = <240>;
    flavor = "balanced";
    quick-tap-ms = <150>;
};

/ {
    behaviors {
        hm: homerow_mods {
            compatible = "zmk,behavior-hold-tap";
            label = "HOMEROW_MODS";
            #binding-cells = <2>;
            flavor = "tap-preferred";
            tapping-term-ms = <250>;
            quick-tap-ms = <125>;
            global-quick-tap;
            bindings = <&kp>, <&kp>;
        };

        cw: CapsWord {
            compatible = "zmk,behavior-caps-word";
            label = "CapsWord";
            #binding-cells = <0>;
            continue-list = <BACKSPACE UNDERSCORE DELETE ENTER SPACE>;
        };
    };

    combos {
        compatible = "zmk,combos";

        CapsWord {
            bindings = <&caps_word>;
            key-positions = <13 16>;
        };
    };

    keymap {
        compatible = "zmk,keymap";

        Base {
            label = "Base";
            bindings = <
               &kp NB_Q           &kp NB_W       &kp NB_E        &kp NB_R         &kp NB_T       &kp NB_Y     &kp NB_U        &kp NB_I        &kp NB_O       &kp NB_P
               &hm LEFT_WIN NB_A  &hm LALT NB_S  &hm LCTRL NB_D  &hm LSHIFT NB_F  &kp NB_G       &kp NB_H     &hm RSHFT NB_J  &hm RCTRL NB_K  &hm RALT NB_L  &hm RIGHT_WIN NB_O_SLASH
&kp NB_A_RING  &kp NB_Z           &kp NB_X       &kp NB_C        &kp NB_V         &kp NB_B       &kp NB_N     &kp NB_M        &kp NB_COMMA    &kp NB_DOT     &kp NB_MINUS              &kp NB_AE
                                                 &lt 5 ESC       &lt 1 TAB        &lt 4 SPACE    &lt 3 ENTER  &lt 2 BSPC      &kp DELETE
            >;
        };

        NNav {
            label = "NNav";
            bindings = <
        &trans        &trans        &trans     &trans          &trans    &kp INSERT      &trans          &trans        &trans           &trans
        &kp LEFT_WIN  &kp LEFT_ALT  &kp RCTRL  &kp LEFT_SHIFT  &trans    &kp LEFT_ARROW  &kp DOWN_ARROW  &kp UP_ARROW  &kp RIGHT_ARROW  &trans
&trans  &trans        &trans        &trans     &trans          &trans    &kp HOME        &kp PAGE_DOWN   &kp PG_UP     &kp END          &trans  &kp PRINTSCREEN
                                    &trans     &trans          &trans    &trans          &trans          &trans
            >;
        };

        Num {
            bindings = <
        &kp NB_PIPE       &kp NB_N7  &kp NB_N8   &kp NB_N9  &kp NB_PLUS         &trans  &trans           &trans     &trans         &trans
        &kp NB_SQT        &kp NB_N4  &kp NB_N5   &kp NB_N6  &kp NB_BACKSLASH    &trans  &kp RIGHT_SHIFT  &kp RCTRL  &kp RIGHT_ALT  &kp RIGHT_WIN
&trans  &kp NB_LESS_THAN  &kp NB_N1  &kp NB_N2   &kp NB_N3  &kp NB_UMLAUT       &trans  &trans           &trans     &trans         &trans         &trans
                                     &kp NB_DOT  &kp NB_N0  &trans              &trans  &trans           &trans
            >;

            label = "Num";
        };

        Sym {
            label = "Sym";
            bindings = <
        &kp NB_TILDE         &kp NB_SLASH        &kp NB_LEFT_PARENTHESIS  &kp NB_RIGHT_PARENTHESIS  &kp NB_QUESTION    &trans  &trans           &trans     &trans         &trans
        &kp NB_ASTRK         &kp NB_DOLLAR       &kp NB_PERCENT           &kp NB_AMPERSAND          &kp NB_GRAVE       &trans  &kp RIGHT_SHIFT  &kp RCTRL  &kp RIGHT_ALT  &kp RIGHT_WIN
&trans  &kp NB_GREATER_THAN  &kp NB_EXCLAMATION  &kp NB_DOUBLE_QUOTES     &kp NB_POUND              &kp NB_CARET       &trans  &trans           &trans     &trans         &trans         &trans
                                                 &kp NB_LEFT_BRACE        &kp NB_RIGHT_BRACE        &trans             &trans  &trans           &trans
            >;
        };

        Media {
            bindings = <
        &trans        &trans        &trans            &trans          &trans    &trans          &trans             &trans        &trans      &trans
        &kp LEFT_WIN  &kp LEFT_ALT  &kp LEFT_CONTROL  &kp LEFT_SHIFT  &trans    &kp C_PREVIOUS  &kp C_VOLUME_DOWN  &kp C_VOL_UP  &kp C_NEXT  &trans
&trans  &trans        &trans        &trans            &trans          &trans    &trans          &trans             &trans        &trans      &trans  &trans
                                    &trans            &trans          &trans    &kp C_STOP      &kp C_PP           &kp C_MUTE
            >;

            label = "Media";
        };

        Meta {
            bindings = <
        &trans  &trans  &trans  &trans  &trans    &kp F1  &kp F2   &kp F3   &kp F4   &trans
        &trans  &trans  &trans  &trans  &to 6     &kp F5  &kp F6   &kp F7   &kp F8   &trans
&trans  &trans  &trans  &trans  &trans  &trans    &kp F9  &kp F10  &kp F11  &kp F12  &trans  &trans
                        &trans  &trans  &trans    &trans  &trans   &trans
            >;

            label = "Meta";
        };

        Gaming {
            bindings = <
            &kp TAB           &kp NB_Q  &kp NUMBER_2  &kp NB_E      &kp NB_R     &trans  &trans  &trans  &trans  &trans
            &kp LEFT_SHIFT    &kp NB_A  &kp NB_W      &kp NB_D      &kp NB_F     &trans  &trans  &trans  &trans  &trans
&kp ESCAPE  &kp LEFT_CONTROL  &kp NB_Z  &kp S         &kp NB_C      &kp NB_V     &trans  &trans  &trans  &trans  &trans  &trans
                                        &kp NB_X      &kp LEFT_ALT  &kp SPACE    &trans  &trans  &to 0
            >;

            label = "Gaming";
        };
    };

    conditional_layers { compatible = "zmk,conditional-layers"; };
};
