//
//                                                        ▀▀▀▀▀     ▀▀▀▀▀          ▀▀█▀▀
//                                                        ▄▀▀▀▄  ▄  ▄▀▀▀▄  ▄  ▄▀▀▀▄  █  ▄▀▀▀▄
//                                                        █   █  █  █   █  █  █   █  █  █   █
//                                                         ▀▀▀   █   ▀▀▀   █   ▀▀▀   ▀   ▀▀▀
//                                                               █      ▄▄▄█▄▄▄    █   █  
//                                                               ▀      █  █  █     █▄█
//                                                             ▀▀▀▀▀    █  █  █      ▀
//                                                                      ▀  ▀  ▀
//
// ▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄

#include "keys_nb.h"
#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>

#define Base        0
#define Media       1
#define Nav         2
#define Mouse       3
#define Sym         4
#define Num         5
#define Fun         6
#define Button      7
#define Game        8
#define Gameplus    9

&mt {
    quick-tap-ms = <100>;
    global-quick-tap;
    flavor = "tap-preferred";
    tapping-term-ms = <170>;
};

&lt {
    tapping-term-ms = <240>;
    flavor = "balanced";
    quick-tap-ms = <150>;
};

/ {
    behaviors {
        hm: homerow_mods {
            compatible = "zmk,behavior-hold-tap";
            label = "HOMEROW_MODS";
            #binding-cells = <2>;
            flavor = "tap-preferred";
            tapping-term-ms = <200>;
            quick-tap-ms = <125>;
            global-quick-tap;
            bindings = <&kp>, <&kp>;
        };
    };

    combos { compatible = "zmk,combos"; };

    keymap {
        compatible = "zmk,keymap";

        Base {
            label = "Base";
            bindings = <
               &kp NB_Q           &kp NB_W       &kp NB_E        &kp NB_R         &kp NB_T     &kp NB_Y     &kp NB_U        &kp NB_I        &kp NB_O       &kp NB_P
               &hm LEFT_WIN NB_A  &hm LALT NB_A  &hm LCTRL NB_D  &hm LSHIFT NB_F  &kp NB_G     &kp NB_H     &hm RSHFT NB_J  &hm RCTRL NB_K  &hm RALT NB_L  &hm RIGHT_WIN NB_O_SLASH
&kp NB_A_RING  &kp NB_Z           &kp NB_X       &kp NB_C        &kp NB_V         &kp NB_B     &kp NB_N     &kp NB_M        &kp NB_COMMA    &kp NB_DOT     &kp NB_MINUS              &kp NB_AE
                                                 &lt 4 ESC       &lt 1 TAB        &kp SPACE    &lt 3 ENTER  &lt 2 BSPC      &kp DELETE
            >;
        };

        NNav {
            label = "NNav";
            bindings = <
        &trans        &trans        &trans     &trans          &trans    &kp INSERT      &kp K_PASTE     &kp K_COPY    &kp K_CUT        &kp CAPSLOCK
        &kp LEFT_WIN  &kp LEFT_ALT  &kp RCTRL  &kp LEFT_SHIFT  &trans    &kp LEFT_ARROW  &kp DOWN_ARROW  &kp UP_ARROW  &kp RIGHT_ARROW  &kp K_UNDO
&trans  &trans        &trans        &trans     &trans          &trans    &kp HOME        &kp PAGE_DOWN   &kp PG_UP     &kp END          &kp K_REDO    &kp ESC
                                    &trans     &trans          &trans    &trans          &trans          &trans
            >;
        };

        Num {
            bindings = <
        &kp NB_SLASH  &kp N7  &kp N8      &kp N9  &kp NB_PLUS     &trans  &trans           &trans     &trans         &trans
        &kp NB_STAR   &kp N4  &kp N5      &kp N6  &kp NB_MINUS    &trans  &kp RIGHT_SHIFT  &kp RCTRL  &kp RIGHT_ALT  &kp RIGHT_WIN
&trans  &trans        &kp N1  &kp N2      &kp N3  &kp NB_EQUAL    &trans  &trans           &trans     &trans         &trans         &trans
                              &kp NB_DOT  &kp N0  &trans          &trans  &trans           &trans
            >;

            label = "Num";
        };

        Sym {
            label = "Sym";
            bindings = <
        &trans        &kp NB_AMPS         &kp NB_STAR              &kp NB_LBRC               &kp NB_RBRC    &trans  &trans           &trans     &trans         &trans
        &kp NB_COLON  &kp NB_DOLLAR       &kp NB_PRCNT             &kp NB_CARET              &kp NB_PLUS    &trans  &kp RIGHT_SHIFT  &kp RCTRL  &kp RIGHT_ALT  &kp RIGHT_WIN
&trans  &kp NB_TILDE  &kp NB_EXCLAMATION  &kp NB_AT_SIGN           &kp NB_HASH               &kp NB_PIPE    &trans  &trans           &trans     &trans         &trans         &trans
                                          &kp NB_LEFT_PARENTHESIS  &kp NB_RIGHT_PARENTHESIS  &trans         &trans  &trans           &trans
            >;
        };

        Media {
            bindings = <
        &trans        &trans        &trans            &trans          &trans    &trans      &trans            &trans        &trans           &trans
        &kp LEFT_WIN  &kp LEFT_ALT  &kp LEFT_CONTROL  &kp LEFT_SHIFT  &trans    &trans      &kp K_PREVIOUS    &kp C_VOL_DN  &kp C_VOLUME_UP  &kp K_NEXT
&trans  &trans        &trans        &trans            &trans          &trans    &trans      &trans            &trans        &trans           &trans      &trans
                                    &trans            &trans          &trans    &kp K_STOP  &kp K_PLAY_PAUSE  &kp K_MUTE
            >;

            label = "Media";
        };

        Meta {
            bindings = <
        &trans  &trans  &trans  &trans  &to 0     &kp F1  &kp F2   &kp F3   &kp F4   &trans
        &trans  &trans  &trans  &trans  &to 6     &kp F5  &kp F6   &kp F7   &kp F8   &trans
&trans  &trans  &trans  &trans  &trans  &trans    &kp F9  &kp F10  &kp F11  &kp F12  &trans  &trans
                        &trans  &trans  &trans    &trans  &trans   &trans
            >;

            label = "Meta";
        };

        Gaming {
            bindings = <
            &kp NB_PIPE     &kp NUMBER_1  &kp NUMBER_2  &kp NUMBER_3  &sl 5     &trans  &trans  &trans  &trans  &trans
            &kp TAB         &kp Q         &kp W         &kp E         &kp R     &trans  &trans  &trans  &trans  &trans
&kp ESCAPE  &kp LEFT_SHIFT  &kp A         &kp S         &kp D         &kp F     &trans  &trans  &trans  &trans  &trans  &trans
                                          &kp LCTRL     &kp LEFT_ALT  &trans    &to 0   &to 0   &to 0
            >;

            label = "Gaming";
        };
    };

    conditional_layers {
        compatible = "zmk,conditional-layers";

        two_three_to_meta {
            if-layers = <1 2>;
            then-layer = <5>;
        };
    };
};
